{% extends 'admin/base.html.twig' %}

{% block title %} Vue de l'Inscription {% endblock %}

{% block body %}
    <div class="container">
         <div class="title-reservation bg rounded mb-5">
            <h1 class="text-center">Inscription au stage n° : {{registrationStage.id}}</h1>
        </div>
        <div class="container w-25">
            <table class="table table-borderless bg-light shadow p-3 mb-5 rounded">
                <tbody>
                    <tr>
                        <th>titre du stage</th>
                        <td>{{ registrationStage.titleStage }}</td>
                    </tr>
                    <tr>
                        <th>prénom</th>
                        <td>{{ registrationStage.firstname }}</td>
                    </tr>
                    <tr>
                        <th>nom</th>
                        <td>{{ registrationStage.lastname }}</td>
                    </tr>
                    <tr>
                        <th>date d'anniversaire</th>
                        <td>{{ registrationStage.age }}</td>
                    </tr>   
                </tbody>
            </table>
        </div>
        <div class="mx-auto">
            <ul class="nav">
                <li class="nav-item mx-auto">
                    <a class="btn btn-dark" href="{{ path('admin_stage_index') }}">Retour</a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="btn btn-dark" href="{{ path('admin_stage_edit',{'id' : registrationStage.id}) }}">réedit</a>
                </li>
                <li class="nav-item"> 
                    <a class="btn btn-danger" href="{{ path('admin_stage_delete',{'id' : registrationStage.id}) }}" onclick="return confirm(`Êtes-vous sur de vouloir supprimer la pré-inscription ?`)">delete</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}