{% extends 'base.html.twig' %}

{% block title %}{{reservation.id}}{% endblock %}

{% block body %}
    <div class="container">
        <div class="title-reservation bg rounded mb-5">
            <h1 class="text-center">Reservation :</h1>
        </div>
        <div class="container w-50">
            <table class="table table-borderless bg-light shadow p-3 mb-5 rounded">
                <tbody>
                    <tr>
                        <th>nom</th>
                        <td>{{ reservation.nom }}</td>
                    </tr>
                    <tr>
                        <th>jour</th>
                        <td>{{ reservation.jour | date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <th>heure de debut</th>
                        <td>{{ reservation.heureDebut }}</td>
                    </tr>
                    <tr>
                        <th>heure de fin</th>
                        <td>{{ reservation.heureFin }}</td>
                    </tr>
                    <tr>
                        <th>terrain</th>
                        <td>{{ reservation.terrain }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <ul class="nav">
                <li class="nav-item mr-5">
                    <a class="btn btn-dark" href="{{ path('homepage') }}">Valider</a>
                </li>
                <li class="nav-item"> 
                    <a class="btn btn-danger" href="{{ path('reservation_delete',{'id' : reservation.id}) }}" onclick="return confirm(`Êtes-vous sur de vouloir supprimer votre réservation ?`)">delete</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}