



    <div class="container">
        <div class="h2">    
            <p>{{ contacts.firstname }} {{ contacts.lastname }}</p> 
        </div>
        <div class="h3">
            <p>{{ contacts.email }}</p>
        </div>
        <div class="d-flex justify-content-center">
            <p>{{ contacts.message }}</p>
        </div>
        <div>        
                {{ contacts.date | date('d/m/Y') }}
        </div>              
                
    </div>        
            
        
    


